@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

:root {
  --font: 'Suez One', serif;
}

* {
  box-sizing: border-box;
}
p { 
  margin: 0;
  font-family: var(--font);
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--font);
  font-weight: 400;
}

body {
  background-image: url('./assets/cesped-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  /* background-image: url('./assets/lockeDex.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center; */

  width: 98vw;
  height: 95vh;

  display: flex;
  justify-content: center;
  align-items: center;
}