* {
  box-sizing: border-box;
}

body {
  background-image: url('./assets/cesped-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  background-image: url('./assets/lockeDex.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;

  width: 98vw;
  height: 95vh;

  display: flex;
  justify-content: center;
  align-items: center;
}